<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <title>{% block title %}Document{%endblock%}</title>
</head>
<body>
    

    <nav class="navbar">
        <div class="logo">Administration</div>
        <ul class="nav-links">
            <li><a href="/serveur/">Serveur</a></li>
            <li><a href="/service/">Service</a></li>
            <li><a href="/application/">Application</a></li>
            <li><a href="/util/">Utilisateur</a></li>
            <li><a href="/tserver/">Type de serveur</a></li>
        </ul>
    </nav>

<h1>{% block titre %}BIG TITLE{% endblock %} </h1>


    <div class="content">{%block content%}
            BIG CONTENT
        {%endblock%}
    </div>
</body>
</html>